<article>

    <div class="one-link">
    <% @links.each do |link| %>

    <div>
      <%= link_to link.title.titleize, "links/#{link.id}", class: "title-link" %>
    </div>

    <div>
      <%= link.post %>
    </div>

    <div>
      <%= link.post %>
    </div>
    <div class="vote-btns">
     <p><%= button_to 'Upvote', (@vote), method: :post, class: "v-btn" %></p>
     <p><%= button_to 'Downvote', (@vote), method: :post, class: "v-btn" %></p>
    </div>
    <% end %>

    </div>

</article>
