<div class="new-link">

<%= form_for(@link) do |f| %>

  <%= f.text_field :title, placeholder: "Title this Link" %>

  <%= f.text_area :post, placeholder: "Your cool link" %>

  <%= f.submit %>

<% end %>

<%= @board.category_arr.inspect %>

</div>
